@import "tailwindcss";

@theme {
  --color-brand-green: #018452;
  --color-brand-orange: #E3863D;
  --color-brand-cream: #F7E7A8;
  --color-brand-dark: #131313;
  --color-brand-white: #FFFFFF;
  
  --font-serif: var(--font-caslon);
  --font-mono: var(--font-ibm-mono);
  --font-sans: var(--font-tiempos);
}